[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.devnet]
boomplay_governance = "7TZjVdq7tCURLGSnJfd41K9W9k4jhjsJFQt7qqeBCEhe"
bp_market = "754huLjoBYmYqozy5hVd7hrxCvZAQByatXi6qLWEUVUS"


[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"

[test]
startup_wait = 5000
shutdown_wait = 2000
upgradeable = false

[[test.genesis]]
address = "metaqbxxUerdq28cj1RbAWkYQm3ybzjb6a8bt518x1s"
program = "./tests/utils/metadata.so"
